# تجاهل ملفات المفاتيح السرية
firebase-adminsdk.json
*.pem
*.key

# تجاهل ملفات البيئة
.env

# تجاهل ملفات السجلات (Logs)
*.log
system_logs.log
financial_security.log

# تجاهل ملفات بايثون المؤقتة
__pycache__/
*.pyc

# تجاهل قواعد البيانات المحلية (إن وجدت)
*.sqlite3
*.db

# تجاهل مجلدات البيئة الوهمية
venv/
env/
